<footer class="footer mt-auto py-3 bg-dark" style="height:50px;width:100%;position: fixed;
bottom:0%;">
<div class="container" style="text-align:center">
<span  style="float:left;color:white">copyright @blogsite</span>
<span  style="float:right;color:white">contact :- utkarshsrmcem111@gmail.com</span>
</div>
</footer>
