<br/>
<h3 style="text-align:center">Most Recent Upload</h3>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 78%;margin-left:11%;margin-bottom:15px;background:grey;background-image: linear-gradient(white, grey);border-color:white">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <div class="card-body">
      <h5 class="card-title"><%=article.title%></h5>
      <p class="card-text"><%= article.body[0..article.body.length*0.40]+"...." %></p>
      <p class="card-text">Author: <%=article.user.email%></p>
      <%= link_to "Read More", article,class:"btn btn-primary" %><br/>
    </div>
  </div>
